{% extends 'layout.html.twig' %}

{% block title %}
    Liste des animaux
{% endblock %}

{% block content %}
<h1>
    Nos animaux
</h1>

<div>
    <div>
        {{ form_start(form) }}
            {# Filter #}
            <div id="search">
                <div>{{ form_row(form.word)}}</div>
                <div>{{ form_row(form.age)}}</div>
                <div>{{ form_row(form.categories)}}</div>
                <div>{{ form_row(form.sterilised)}}</div>
                <div>
                    <button id="animal-filter-button"type="submit" class="btn btn-secondary">Filtrer</button>
                </div>
            </div>
        {{ form_end(form) }} 
    </div>
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for animal in all | reverse %}
        <div class="col" style="max-width: 20rem;">
          <div class="card" style="width: 18rem;">
            {% if animal.reserved %}
              <p>
                Réservé(e)
              </p>
            {% endif %}
            <img src="{{ asset('img/uploads/' ~ animal.picture) }}"
              class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                {{ animal.name | capitalize }}
              </h5>
              <p class="card-text">
                {{ animal.description | capitalize | slice(0,20) ~ '...'}}<a href="{{path('animal_show',{id: animal.id} )}}"><small>Lire la suite</small></a>
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Age: {{ animal.age }}</li>
              <li class="list-group-item">{{ animal.type.name }} - {{ animal.race | capitalize }}</li>
              <li class="list-group-item">
                {{ animal.gender }} -
                {% if animal.sterilised %}
                  Stéril(e)
                {% else %}
                  Non Stéril(e)
                {% endif %}
              </li>
              <li class="list-group-item">
                Arrivé le {{ animal.Datearrived|date('d-m-y', 'Europe/Paris') }}
              </li>
            </ul>
            <div class="card-body">
              <a href="{{ path('animal_show',{id: animal.id} ) }}" class="card-link">
                En détail
              </a>
              {% if animal.reserved %}
              {% else %}
                {% if app.user %}
                  <a href="{{
                    path('user_create_dossier', {
                        user_id: app.user.id,
                        animal_id: animal.id
                    })
                    }}" class="card-link">Adopter cet animal
                  </a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
            <p>Nous n'avons plus d'animaux à faire adopter pour le moment.</p>
      {% endfor %}
    </div>
  </div>
    <div class="pagination">
        {{ knp_pagination_render(all) }}
    </div>
</div>
{% endblock %}
