{% extends 'layout.html.twig' %}

{% block title %}
  Modifier - {{animal.name}}
{% endblock %}

{% block content %}

    <div class="container">

        <div class="alert">
            {% for type, messages in app.flashes %}
                <div class="alert-{{type}}">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {{ form_start(form) }}
            <div class="form-floating mb-3">
                {{ form_widget(form.name, {attr: {class: "form-control", value: animal.name, 'novalidate': 'novalidate'}})}}
                {{ form_label(form.name)}}
                {{ form_errors(form.name)}}
            </div>

            <div class="form-floating mb-3">
                {{ form_widget(form.description, {attr: {class: "form-control", value: animal.description, 'novalidate': 'novalidate'}})}}
                {{ form_label(form.description)}}
                {{ form_errors(form.description)}}
            </div>

            <div>
                {{form_row(form.age, {attr: {value: animal.age, 'novalidate': 'novalidate'}})}}
            </div>

            <div class="form-floating mb-3">
                {{ form_row(form.type, {'attr':{'class': 'form-control', 'novalidate': 'novalidate'}})}}
            </div>

            <div class="form-floating mb-3">
                {{ form_widget(form.race, {attr: {class: "form-control mb-3", value: animal.race, 'novalidate': 'novalidate'}})}}
                {{ form_label(form.race)}}
                {{ form_errors(form.race)}}
            </div>

            <div>
                Genre
            </div>
            <div>
                {{ form_widget(form.gender, {attr: {class: "form-control mb-3"}, value: animal.gender, 'novalidate': 'novalidate'})}}
                {{ form_errors(form.gender)}}
            </div>

            <div>
                Stérilisé
            </div>
            <div>
                {{ form_widget(form.sterilised, {attr: {class: "form-controle mb-3", value: animal.sterilised, 'novalidate': 'novalidate'}})}}
                {{ form_errors(form.sterilised)}}
            </div>

            <div>
                {{form_row(form.picture)}}
            </div>
            
            <div>
                {{form_row(form.Ajouter)}}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}