{% extends 'layout.html.twig' %}

{% block title %}
  Boutique
{% endblock %}

{% block content %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <h1>
    Notre boutique
  </h1>

  {# <div class="container">
        <h2>Gestion produits</h2>
    #}
  {# <table class="table table-bordered table-dark">
     <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom produit</th>
      <th scope="col">Image</th> 
      <th scope="col">Description</th>
      <th scope="col">Categorie</th>
      <th scope="col">Prix</th>
      <th scope="col">Supprimer</th>
      <th scope="col">Editer</th>

     </tr>
        </thead> #}
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for product in products %}
        <div class="col" style="max-width: 20rem;">
          <div class="card" style="max-width: 18rem;">
            <img src="{{ asset('img/product/' ~ product.image) }}"
              class="card-img-top"
              alt="{{ product.name }}"
              style="width:286px; height:181px" />
            <div class="card-body">
              <h5 class="card-title">
                {{ product.name }}
              </h5>
              <p class="card-text">
                {{ product.description }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ product.price }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {# <tr>
      <th scope="row"> {{product.id}} </th>
      <td> {{product.name}} </td>
      <td><img src="{{asset("img/product/" ~ product.image)}}" class="card-img-top" alt="{{product.name}}" style="width:50px; height:50px" ></td>
      <td> {{product.description}} </td>
      <td> {{product.category.name}} </td>
      <td> {{product.price}} </td>
      <td> {{product.quantity}} </td>
      {# <td><a class="btn btn-danger" href="index.php?page=ProduitDelete&id=<?= $produit->getId() ?>">Supprimer</a></td> #}
  {# <td><a class="btn btn-info" href="index.php?page=UpdateProduit&id=<?= $produit->getId() ?>">Editer</a></td> #}
  {# </tr> #}

  {# </tbody>
 </table> #}
  {# </div> #}
{% endblock %}
