{% extends 'layout.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block content %}

<h1>Notre boutique</h1>

<div>
    <div>
        {{ form_start(form) }} 
            <div id="search">
                <div>{{ form_row(form.word)}}</div>
                <div>{{ form_row(form.price)}}</div>
                <div>{{ form_row(form.categories)}}</div>
                <div>
                    <button type="submit" class="btn btn-secondary">Filtrer</button>
                </div>
            </div>
        {{ form_end(form) }} 
    </div>

    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for product in all %}
        <div class="col" style="max-width: 20rem;">
          <div class="card border-secondary mb-3 bg-light mb-3"
            style="max-width: 18rem;">
            <img src="{{ asset('img/product/' ~ product.image) }}"
              class="card-img-top"
              alt="{{ product.name }}"
              style="width:286px; height:181px" />

            <div class="card-body">
              <h5 class="card-title">
                {{ product.name | capitalize }}
              </h5>
              <h6 class="card-price">
                {{ product.price }} €
              </h6>

              <a href="#" class="card-link">
                Détails
              </a>
              <a href="#" class="card-link btn btn-primary">Ajouter panier</a>
            </div>
          </div>
        </div>
      {% else %}
        <p>Nous sommes en rupture de stock sur l'ensemble de nos produits.</p>
      {% endfor %}
    </div>
  </div>
    <div class="pagination">
        {{ knp_pagination_render(all) }}
    </div>
</div>
{% endblock %}
