{% extends 'layout.html.twig' %}

{% block content %}
  <div class="container">
    {{ form_start(form) }}
    
      <div class="form-floating mb-3">
        {{ form_widget(form.name, {attr: {class: "form-control", placeholder: "Nomination"}})}}
        {{ form_label(form.name) }}
      </div>

      <div class="col-md-12">
            {{ form_row(form.category, {'attr':{'class': 'form-control'}}) }}                   
      </div>

      <div class="form-floating mb-3">
        {{ form_widget(form.description, {attr: {class: "form-control", placeholder: "Description"}})}}
        {{ form_label(form.description) }}
      </div>

      <div class="form-floating mb-3">
        {{ form_widget(form.price, {attr: {class: "form-control", placeholder: "Prix"}})}}
        {{ form_label(form.price) }}
      </div>

      <div class="form-floating mb-3">
        {{ form_widget(form.quantity, {attr: {class: "form-control", placeholder: "Quantité"}})}}
        {{ form_label(form.quantity) }}
      </div>

      <div>
        {{ form_row(form.image) }}
      </div>

      <div>
        {{ form_label(form.submit) }}
      </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
