{% extends 'base.html.twig' %}

{% block body %}
  <header>
    <nav>
      <a href="{{path('index')}}"><img src="{{asset('image/adopt.png')}}" alt="logo" style="width:10vw" /></a>
      <ul>
        <li><a href="{{path('animal_list')}}">Nos animaux</a></li>
        <li><a href="{{path('product')}}">Notre boutique</a></li>
        {% if app.user %}
        <li><a href="{{path('index')}}">Se deconnecter</a></li>
        {% else %}
        <li><a href="{{path('index')}}">Se connecter</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}

  {% endblock %}
  <footer>
    <ul>
      <li>Infos</li>
      <li>Contacter</li>
      <li>Adresse</li>
    </ul>
  </footer>
{% endblock %}
