{% extends 'base.html.twig' %}

{% block body %}
  <header>
    {# <nav>
      <a href="{{ path('index') }}">
        <img src="{{ asset('image/adopt.png') }}"
          alt="logo"
          style="width:10vw" />
      </a>
      <ul>
        <li><a href="{{ path('animal_list') }}">Nos animaux</a></li>
        <li><a href="{{ path('product') }}">Notre boutique</a></li>
        {% if app.user %}
          <li><a href="{{ path('app_logout') }}">Se deconnecter</a></li>
        {% else %}
          <li><a href="{{ path('app_login') }}">Se connecter</a></li>
          <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
          <li><a href="#">Back Office</a></li>
        {% endif %}
      </ul>
    </nav> #}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        Company name
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
  </header>
  {% block content %}

  {% endblock %}
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2"
          src="/docs/4.3/assets/brand/bootstrap-solid.svg"
          alt=""
          width="24"
          height="24" />
        <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>
          Features
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>
          Resources
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>
          About
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock %}
