{% extends 'base.html.twig' %}

{% block body %}
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{{ path('index') }}">Company name</a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{path('animal_list')}}">Nos animaux</a>
        <a class="p-2 text-dark" href="{{path('products')}}">Notre boutique</a>
      </nav>
      {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="#">Back Office</a>
      {% endif %}
      {% if app.user %}
      <a class="p-2 text-dark" href="{{path('user_dossier_list', {user_id:app.user.id})}}">Mes dossiers</a>
      <a class="p-2 text-dark" href="{{ path('app_logout') }}">Se deconnecter</a>
      {% else %}
      <a class="btn btn-outline-primary" href="{{ path('app_register') }}">S'inscrire</a>
      <a class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
      {% endif %}
    </div>
  </header>
  {% for type, messages in app.flashes %}
    <div class=" alert alert-{{ type }}">
      {% for message in messages %}
        <p>
          {{ message }}
        </p>
      {% endfor %}
    </div>
  {% endfor %}
  {% block content %}

  {% endblock %}
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2"
          src="/docs/4.3/assets/brand/bootstrap-solid.svg"
          alt=""
          width="24"
          height="24" />
        <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>
          Features
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>
          Resources
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>
          About
        </h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock %}
